<a href="https://colab.research.google.com/github/VidishaPonnappa/MachineLearning/blob/main/Project_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Goals :

1. Python Lists

2. List Comprehension

3. NumPy Arrays

---

#### Activity 1: Create and update a null NumPy array

In [ ]:
# Write a program to create Null array of size 10 and update the sixth value to 11.
import numpy as np
a=np.zeroes(size=10)
print(a)

AttributeError: ignored

---

#### Activity 2: Populate a number list

Write a program that populates a list by numbers that lie in the range of 0 to 49 and are also divisible by 5. Use the **List Comprehension** method.

**Output**: `[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]`

In [ ]:
# Write a program to populate a number list divisible by 5 in a range of 0 - 49
a=list(a%5==0 for i in range (0,50))

TypeError: ignored

---

#### Activity 3: Convert a list into an array

Write a program to convert a list of numeric values into a one-dimensional NumPy array.

In [ ]:
# Write a program to convert a list into one dimensional NumPy array
l=[]
a=input('Enter num for your list or type d: ')
while a != 'd':
  a=int(a)
  l.append(a)
  a=input('Enter num for your list or type d: ')
la=np.array(l)
print(f'List is {l} and array is {la}.')

Enter num for your list or type d: 1
Enter num for your list or type d: 2
Enter num for your list or type d: 3
Enter num for your list or type d: 3
Enter num for your list or type d: 2
Enter num for your list or type d: 1
Enter num for your list or type d: d
List is [1, 2, 3, 3, 2, 1] and array is [1 2 3 3 2 1].

---